version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/data:/app/data
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "1603:80"
    restart: always
